<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= render "layouts/header" %>

  <span class="label-warning"><%= notice %></span>
  <span class="label-danger"><%= alert %></span>
  
  <div class="container">
    <%= yield %>
  </div>

<span></span>

  <%= render "layouts/footer" %>

</body>
</html>
